*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.map
nbactions.xml
nb-configuration.xml
funclist
html/
private/
build/
nbbuild/
dist/
nbdist/
nbproject/Makefile-*
nbproject/Package-*.bash
disassembly/
.generated_files/